.Info {
  box-sizing: border-box;
  padding: 3vw;
  position: absolute;
  /*width: 35vw;*/
  width: calc(100vw - 85vh - (88vw - 135vh));
  height: 85vh;
  top: 10vh;
  right: calc((88vw - 135vh) / 2);
  display: flex;
  justify-content: space-between;

  color: #e4e4e4;
  background: black;
}

.Info_inside {
  width: 100%;
  border-radius: 10vh;
  border: solid white 0.3vh;
  padding: 2vw;
}

.InfoText {
  font-family: 'Fira Sans', sans-serif;
font-size: 2.45vh;
}