.Info {
  box-sizing: border-box;
  padding: 3vh;
  position: absolute;
  /*width: 35vw;*/
  width: calc(100vw - 85vh - (88vw - 135vh));
  height: 85vh;
  top: 10vh;
  right: calc((88vw - 135vh) / 2);
  display: flex;
  justify-content: space-between;

  color: #e4e4e4;
}

.Info_inside {
  width: 100%;
  border-radius: 10vh;
  border: solid white 0.3vh;
  padding: 2vh;
}

.InfoText {
  width: 100%;
  height: 75vh;
  padding-top: 2vh;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2vh;

  white-space: pre-wrap;
  width:  calc(100vw - 85vh - (88vw - 135vh) - 6vh);

  overflow: scroll;
  /* ie 10+ */
  -ms-overflow-style: none;
  /* фф (свойство больше не работает, других способов тоже нет)*/
  overflow: -moz-scrollbars-none;
}

.InfoText::-webkit-scrollbar {
  width: 0;
}

.ListItem {
  text-align: left;
border-bottom: solid white 0.2vh;
  font-size: 2vh;
  padding: 1vh;
  cursor: pointer;
}

.Button {
  /*background-image: url("");*/
  border-radius: 100%;
  width: 7vh;
  height:7vh;
  position: absolute;
  right: 1.5vw;
border: solid white 0.2vh;
  padding: 1vh;
  box-sizing: border-box;
  cursor: pointer;
}

.line {
height: 1.1vh;
  width: 4.7vh;
  border-bottom: solid white 0.2vh;
}


@media (max-width: 164vh) {
  .Info {
    position: relative;
    width: 96vw;
    height: 85vh;
    top: 0;
    right: auto;
    left: 2vw;
  }

  .Info_inside {
    width: 60%;
  }

  .InfoText {
    margin: 0 auto;
  }

  .Button {
    width: 7vh;
    height:7vh;
    position: absolute;
    right: 22vw;
    padding: 1vh;
    box-sizing: border-box;
    cursor: pointer;
  }
}