.Footer {
  position: absolute;
  width: 100vw;
  height: 5vh;
  display: flex;
  top: 95vh;
  justify-content: space-between;
  color: #707070;
}

.Footer__Title {
  padding-top: 1vh;
  margin: auto;
  font-size: 2vh;
  font-weight: 100;
  /*padding-left:  calc(((88vw - 135vh) / 2) + 3vw);*/
}

@media (max-width: 164vh) {
  .Footer {
    position: relative;
    width: 100vw;
    height: 5vh;
    top: 0;
  }
}