body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  /* ie 10+ */
  -ms-overflow-style: none;
  /* фф (свойство больше не работает, других способов тоже нет)*/
  overflow: -moz-scrollbars-none;
}
